/* Number One */
.container-1 {
    display: flex;
    align-items: flex-start;
}

/* Number Two */
.container-2 {
    display: flex;
    align-items: flex-end;
}

/* Number Three */
.container-3 {
    display: flex;
        /* flex-direction: row; */
        /* margin-bottom: 50px; */
    align-items: center;

}

/* Number Four */
.container-4 {

}

/* Number Five */
.container-5 {

}

/* Number Six */
.container-6 {

}

/* Number Seven */
.container-7 {

}

/* Number Eight */
.container-8 {

}

/* Number Nine */
.container-9 {

}

/* Number Ten */
.container-10 {
    display: flex;
}

/* Number Eleven */
.container-11 {
    display: flex;
}

/* Number Twelve */
.container-12 {

}

.nerf-12 {
    background-color: blue;
    
}

/* Number Thirteen */
.container-13 {

}

.nerf-13 {
    background-color: blue;

}

/* Number Fourteen */
.container-14 {

}

.nerf-14 {
    background-color: blue;

}
