/* Number One */
.container-1 {
    display: flex;
    align-items: flex-start;
}

/* Number Two */
.container-2 {
    display: flex;
    align-items: flex-end;
}

/* Number Three */
.container-3 {
    display: flex;
        /* flex-direction: row; */
        /* margin-bottom: 50px; */
    align-items: center;

}

/* Number Four */
.container-4 {
        display: flex;
        /* flex-direction: row; */
        /* margin-bottom: 50px; */
        align-items: center;
        justify-content: flex-end

}

/* Number Five */
.container-5 {
    display: flex;
    /* flex-direction: row; */
    /* margin-bottom: 50px; */
    align-items: center;
    justify-content: center;
}

/* Number Six */
.container-6 {
display: flex;
    /* flex-direction: row; */
    /* margin-bottom: 50px; */
    align-items: center;
    justify-content: space-evenly;
}

/* Number Seven */
.container-7 {
    display: flex;
    /* flex-direction: row; */
    /* margin-bottom: 50px; */
    align-items: center;
    justify-content: space-around;
}

/* Number Eight */
.container-8 {
    display: flex;
    /* flex-direction: row; */
    /* margin-bottom: 50px; */
    align-items: center;
    justify-content: space-between;
}

/* Number Nine */
.container-9 {
    display: flex;
    /* flex-direction: row; */
    /* margin-bottom: 50px; */
    align-items: flex-end;
    justify-content: flex-end;
}

/* Number Ten */
.container-10 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/* Number Eleven */
.container-11 {
    display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        align-content: space-around;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        transform: rotate(180deg);
}

/* Number Twelve */
.container-12 {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.nerf-12 {
    background-color: blue;
    align-self: flex-end;
}

/* Number Thirteen */
.container-13 {
        display: flex;
        flex-direction: row-reverse;
        /* margin-bottom: 50px; */
        align-items: center;
        align-self: center;
        justify-content: space-evenly;


}

.nerf-13 {
    background-color: blue;

}

/* Number Fourteen */
.container-14 {
    display: flex;
    flex-direction: row-reverse;
    /* margin-bottom: 50px; */
    align-items: center;
    justify-content: space-evenly
}

.nerf-14 {
    background-color: blue;
    align-self: start;

}
